@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

input,
textarea,
label {
  display: block;
}

/* HEADER STYLING + NAVBAR ------------------------------------------------->*/

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  font-size: 3rem;
}

.navbar {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #33261e;
  box-shadow: 4px 5px 12px 0px rgba(0, 0, 0, 0.44);
  width: 100%;
}

.nav-ul {
  display: flex;
  justify-content: center;
}

.nav-li {
  list-style: none;
}

.navlink {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navlink:hover {
  color: #916f69;
}

/* MAIN STYLING -------------------------------------------------------------->*/

/* FRONT PAGE POSTS LIST --------------------------------------------------->*/

.post-article {
  padding: 2rem;
  padding-bottom: 3rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid #916f69;
}

.post-wrapper {
  padding: 2rem;
}

.post-title-front {
  font-weight: bold;
  font-size: 2rem;
}

.summary {
  font-style: italic;
  margin-bottom: 2rem;
}

.readmore-link {
  text-decoration: none;
  color: #33261e;
  text-transform: uppercase;
}

.readmore-link span {
  margin-left: 1rem;
}

.readmore-link img {
  max-width: 70px;
  padding-right: 1rem;
  transform: scaleX(-1)
}

.readmore-button span:hover {
  color: #916f69;
}

/*.readmore-button {
  cursor: pointer;
  color: white;
  background-color: #33261e;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  margin-top: 1rem;
  box-shadow: 4px 5px 12px 0px rgba(0, 0, 0, 0.44);
}

.readmore-button:hover {
  background-color: #916f69;
  transition: 0.3s;
}'/
